.wrapper {
    box-sizing: border-box;
    position: fixed;
    width: 340px;
    max-height: 600px;
    margin-left: -8px;
    padding: 20px 0 26px;
    padding-left: -20px;
    overflow-y: auto;
}

.menu-sidebar {
    padding-right: 8px;
    margin-bottom: 8px;
}

.discover {
    width: 100%;
    padding: 16px 0;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 8px;
        right: 8px;
        top: 0;
        height: 1px;
        background: rgba(22, 24, 35, 0.12);
        -webkit-transform: scaleY(0.5);
        -moz-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}

.label {
    margin-bottom: 16px;
    padding: 0 8px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.75);
}

.wrapper-list-hashtag {
    display: flex;
    flex-wrap: wrap;
}

.footer-sidebar {
    display: flex;
    flex-wrap: wrap;
}

.footer-distance {
    margin-bottom: 8px;
}

.footer-text {
    margin: 5px 6px 8px 0;
    font-size: 1.2rem;
    line-height: 17px;
    color: #161823bf;
}